	<%= provide(:title, "Contact") %>
<div class="center">
	<h1>Contact us!</h1>

	<p>The following is the full list of contacts to gwt hold of us, please let us know what you think of our service or simply call us to ask any question</p>

	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
	</ul>
</div>